[Unit]
Description=Light cron — cache warmer every 10 minutes

[Timer]
OnCalendar=*:0/10
RandomizedDelaySec=30
Unit=hamafx-light-warm-cache.service

[Install]
WantedBy=timers.target
