[Unit]
Description=Self-update every 20 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=20min
RandomizedDelaySec=120
Unit=hamafx-update.service

[Install]
WantedBy=timers.target
