[Unit]
Description=Schedule briefings every 15 minutes

[Timer]
OnCalendar=*:0/15
RandomizedDelaySec=60
Unit=hamafx-job-briefings.service

[Install]
WantedBy=timers.target
